<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../..vue.js"></script>
  <title>VueJS</title>
</head>

<style>
  .blue {
    color: blue;
  }

  .red {
    color: red;
  }

  .green {
    color: green;
  }
</style>

<body>
  <div id="app">
    <ul>
      <li v-for="(ingredient, i ) in ingredients">{{ ingredient }} ({{ i }})</li>
      <template v-for="(ingredient, index) in ingredients">
        <h3>{{ ingredient }}</h3>
        <p>{{ index }}</p>
      </template>

      <li v-for="(person, i) in persons">{{ i + 1 }}: {{ person.name }} is age: {{ person.age }} with favorite color:
        <p :class=`${person.color}`>{{ person.color }}</p>
      </li>
    </ul>
  </div>
</body>

<script>
  new Vue({
    el: '#app',
    data: {
      ingredients: ['meat', 'fruit', 'cookies'],
      persons: [
        { name: 'Max', age: 27, color: 'red' },
        { name: 'Anna', age: 'unknown', color: 'blue' },
        { name: 'George', age: 42, color: 'green' }
      ]
    },
    methods: {
    }
  })
</script>

</html>
