<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../vue.js"></script>
  <title>VueJS</title>
</head>
<body>
  <div id="app">
    <h2 class="title">{{ title }}</h2>
    <div class='result'>
      <p v-model='value1'>{{ value1 }}</p>
      <hr>
      <p v-model='value2'>{{ value2 }}</p>
      <hr>
      <p>{{ result }}</p>

    </div>

    <button id="clear"  v-on:click="reset"><h1>AC</h1></button>
    <button id="flip"  v-on:click="value += '-'"><h1>+/-</h1></button>
    <button id="pct"  v-on:click="value *= '.01'"><h1>%</h1></button>
    <button id="divide"  v-on:click="equals"><h1>/</h1></button>
    <br>
    <button id="seven"  v-on:click="dataEntry('7')"><h1>7</h1></button>
    <button id="eight"  v-on:click="dataEntry('8')"><h1>8</h1></button>
    <button id="nine"  v-on:click="dataEntry('9')"><h1>9</h1></button>
    <button id="multiply"  v-on:click="multiply"><h1>x</h1></button>
    <br>
    <button id="four"  v-on:click="dataEntry('4')"><h1>4</h1></button>
    <button id="five"  v-on:click="dataEntry('5')"><h1>5</h1></button>
    <button id="six"  v-on:click="dataEntry('6')"><h1>6</h1></button>
    <button id="subtract"  v-on:click="subtract"><h1>-</h1></button>
    <br>
    <button id="one"  v-on:click="dataEntry('1')"><h1>1</h1></button>
    <button id="two"  v-on:click="dataEntry('2')"><h1>2</h1></button>
    <button id="three"  v-on:click="dataEntry('3')"><h1>3</h1></button>
    <button id="add"  v-on:click="sum"><h1>+</h1></button>
    <br>
    <button id="zero"  id="zero" v-on:click="dataEntry('0')"><h1>0</h1></button>
    <button id="decimal"  v-on:click="dataEntry('.')"><h1>.</h1></button>
    <button id="equal"  v-on:click="equals"><h1>=</h1></button>
  </div>


</body>

<script>
  new Vue({
    el: '#app',
    data: {
      title: 'Calculator',
      entry: '',
      value1: '',
      value2: '',
      currentValue: null,
      operator: null,
      result: ''
    },
    methods: {
      reset: function () {
        this.value1 = ''
        this.value2 = ''
        this.result = ''
        this.operator = ''
      },
      dataEntry: function(num){
        this.entry += num
        this.currentValue += num
        if(!this.operator){
          this.value1 = this.currentValue
        } else {
          this.value1 = ''
          this.value2 = this.currentValue
        }
      },
      sum: ()=> this.operator = '+',
      subtract: ()=> this.operator = '-',
      multiply: ()=> this.operator = '*',
      divide: ()=> this.operator = '/',
      equals: () => this.result = eval([this.value1, this.operator, this.value2])
    }
  })
</script>
</html>

<style>
  html {
    box-sizing: border-box;
  }

  #app {
    background-color: rgb(178, 220, 241);
    border: 2px solid gray;
    border-radius: 14px;
    margin: 11px;
    padding: 20px;
    width: 215px;
  }

  .title {
    font-family: Arial, Helvetica, sans-serif;
  }

  button {
    height: auto;
    width: 50px;
    margin: 2px 0;
  }

  button#zero {
    width: 104px;
  }

  .result {
    background-color: rgb(205, 215, 220);
    height: auto;
    margin: 4px;
  }
</style>
